[submodule "src/shared"]
	path = src/shared
	url = https://github.com/NOAA-GFDL/FMS.git
[submodule "src/land_null"]
	path = src/land_null
	url = https://github.com/NOAA-GFDL/land_null.git
[submodule "src/coupler"]
	path = src/coupler
	url = https://github.com/thomas-robinson/coupler.git
